@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}


main{
    
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    justify-content: center;
    width: 1512px;
    .card{
        width: 300px;
        height: 200px;
    }

    h1{
        font-size: 50px;
        font-weight: 200;
        height: 59px;
        grid-area: 1 / 1 / 2 /5;
        align-self: center;
        letter-spacing: 15px;
        font-style: normal;
        
        
    }
    /* Show coffee Cup photo*/
    img:nth-child(2) {
        order: 2;
    }
    /* Show Leafs photo*/
    img:nth-child(3) {
        order: 3;
    }
    /* Show Hide Monstera leaf photo */
    img:nth-child(4) {
        visibility: hidden;
        order: 4;
    }
    /* Show disapiar Workplace photo */
    img:nth-child(5) {
        display: none;
    }
    /* Show Hide lamp photo */
    img:nth-child(6) {
        order: 6;
        visibility: hidden;
    }
    /* Show composition photo */
    img:nth-child(7) {
        order: 7;
    }
    /* disapiar eucalyptus photo */
     img:nth-child(8) {
        display: none;
    }
    /* disapiar Anthurium photo */
    img:nth-child(9) {
        display: none;
    }
    /* Show Flower photo */
    img:nth-child(10) {
        order: 5;
    }
    /* RoomDesign photo */
    img:nth-child(11) {
        order: 8;
    }
}