*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 210px 120px;
}
header{
    
}

main{
    
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    justify-content: center;
    .card{
        width: 300px;
        height: 200px;
    }

    h1{
        font-size: 50px;
        font: medium;
        font-weight: 500;
        height: 59px;
        grid-area: 1 / 1 / 2 /5;
        align-self: center;
        
    }
}