@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;

}


main {

    display: grid;
    grid-template-columns: repeat(3, 300px) 2px repeat(2, 300px);
    grid-template-rows: repeat(4, 200px);
    gap: 20px;
    justify-content: center;


    .card {
        width: 300px;
        height: 200px;
        order: 20;

    }

    .line {
        background-color: black;
        width: 2px;
        grid-row: span 4;
        order: 2;
        height: 100%;
    }

    h1 {
        font-size: 50px;
        font-weight: 200;
        height: 59px;
        letter-spacing: 15px;
        font-style: normal;
        height: 100%;
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 50px;
        font-weight: 200;
        height: 59px;
        /* grid-area: 2 / 1 / 3 /3; */
        align-self: center;
        letter-spacing: 15px;
        font-style: normal;
    }


    :nth-child(1) {
        grid-column: span 3;
        order: 1;
    }

    :nth-child(2) {
        grid-column: span 2;
        order: 5;
    }

    :nth-child(3) {
        order: 3;
    }

    :nth-child(13) {
        order: 4;
    }

    :nth-child(4) {
        order: 6;
    }

    :nth-child(14) {
        order: 7;
    }

    :nth-child(5) {
        order: 8;
    }

    :nth-child(15) {
        order: 9;
    }

    :nth-child(10) {
        order: 10;
    }

    :nth-child(16) {
        order: 11;
    }

    :nth-child(8) {
        order: 12;
    }

    :nth-child(17) {
        order: 13;
    }

    :nth-child(6) {
        order: 14;
    }

    :nth-child(18) {
        order: 15;
    }

    :nth-child(7) {
        order: 16;
    }

    :nth-child(19) {
        order: 17;
    }

    :nth-child(9) {
        order: 18;
    }

    :nth-child(11) {
        display: none;
    }

    :nth-child(12) {
        display: none;
    }

}