*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}


main{
    
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    justify-content: center;
    width: 1512px;


    h1{
        font-size: 50px;
        font: medium;
        font-weight: 500;
        height: 59px;
        grid-area: 1 / 1 / 2 /5;
        align-self: center;
        
    }

        .card{
        width: 300px;
        height: 200px;
    }

    img:nth-child(2){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 623px;
        object-fit: cover;
        order: 2;
    }

    img:nth-child(3){
        /* grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 623px; */
        order: 7;
    }
    img:nth-child(4){
        /* grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 623px; */
        order: 2;
    }
    img:nth-child(5){
        /* grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 623px; */
        order: 3;
    }
    img:nth-child(6){
        /* grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 623px; */
        order: 4;
    }
    img:nth-child(7){
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        height: 421px;
        object-fit: cover;
        order: 5;
    }
    img:nth-child(8){
        grid-column: 3 / 5;
        grid-row: 3 / 4;
        width: 623px;
        order: 6;
        object-fit: cover;
        /* column-span: 2; */
    }
    img:nth-child(9){
        /* grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 623px; */
        order: 8;
    }
    img:nth-child(10){
        /* grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 623px; */
        order: 9;
    }
}